.tabBox {
  margin: 20px auto;
  width: 602px;
}
.tabBox ul {
  box-sizing: border-box;
  border: 1px solid black;
}
.tabBox ul > li {
  box-sizing: border-box;
  float: left;
  width: 200px;
  border-right: 1px solid black;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.tabBox ul li:nth-last-child(1) {
  border-right: none;
}
.tabBox ul > li.active {
  background: yellow;
}
.tabBox div {
  display: none;
  font-size: 20px;
  line-height: 200px;
  border: 1px solid black;
  text-align: center;
}
.tabBox div.active {
  display: block;
}